body {
    font-family: sans-serif;
    line-height: 2;
  
    background-color: #474646;
    color: #ee6a11;
  
    width: 980px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 0;
  }
  
  main > h2 {
    text-align: center;
    font-size: 30px;
  }